[data-md-color-scheme="slate"] {
  --md-primary-fg-color:  #374970;
  --md-typeset-a-color:   #5e81ac;
  --md-accent-fg-color:   #88c0d0;
}

.highlight .gp, .highlight .go { /* Évite d'inclure # et $ dans la selection d'un code block */
    user-select: none;
}
.md-clipboard { /* Désactive le bouton pour copier le contenu du code puisqu'il copie les # et $ */
display: none; 
}
.md-typeset .admonition {
  font-size: 15px;
}
